* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background: white;
}

.name {
  font-size: 40px;
  margin: 0;
  padding: 40px 20px 40px 40px;
  text-align: left;
  color: white;
}

.main-nav {
  margin: 0;
  background: black;
  width: 100%;
  list-style-type: none;
}


.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 20px;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: color .15s ease-in-out;
}

a:hover {
  color: orange;
}

li {
  color: white;
  padding: 0px 40px 0px 0px;
  display: block;
  font-size: 18px;
}

hr {
  text-align: center;
  box-shadow: 0 0 30px 1px white;
  margin: 0;
  border-color: orange;
}

h1 {
  font-size: 40px;
}

.tagline {
  padding: 0;
}

.quip {
  margin: 0;
  font-size: 70px;
  color: black;
  padding: 40px 20px 40px 40px;
  text-align: left;
}

@media only screen and (min-width: 320px) {
  .main-nav {
    margin: auto;
    text-align: center;
    padding: 0;
    }

  body {
    background: white;
  }
  .name {
    height: 120px;
    margin: 0;
    padding: 20px 20px 20px 26px;
    display: block;
  }
  .tagline {
    margin: 0;
    text-align: center;
  }
  .quips {
    margin: 0px 60px 0px 0px;
    font-size: 36px;
    color: black;
    padding: 20px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 20px 15px 0px;
    text-align: left;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag {
    margin: 0;
    padding: 5px 20px 40px 40px;
    text-align: left;
    font-size: 13px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardtext {
    /* background-image: linear-gradient(to right, grey .3%, white 15%); */
  }

  .vpat {
    /* display: block; */
    margin: auto;
    height: 250px;
    padding: 0;
  }

  .mac {
    display: none;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 30px;
    color: black;
    padding: 60px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
  }

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 20px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 500;
  }

  main.home {
    border-radius: 25px;
    border-top: 4px solid orange;
    border-color: orange;
    height: 200px;
    background-color: white;
    margin: 0px 40px 20px 40px;
    box-shadow: 0px 0px 5px black;
  }

  h1.projects {
    margin: 0;
    padding: 20px 0px 30px 40px;
    text-align: left;
    font-size: 23px;
    line-height: 1.1rem;
  }

  section.contact {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    border-top: 4px solid orange;
  }

  h1.ready {
    margin: 0;
    font-size: 25px;
    color: white;
    padding: 30px 20px 10px 40px;
    text-align: left;
  }

  p.info {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 0px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 300;
    color: white;
  }

  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .link {
    color: white;
    padding: 15px 20px 15px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .card_image {
    margin-top: 20px;
    width: 80%;
    height: auto;
    object-fit: fill;
    border-radius: 20px;
    /* margin-right: 20px; */
  }

  .card_text {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }

  footer {
    height: 50px;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
    background-image: linear-gradient(white 10%,grey 100%);
  }

  hr.break {
    margin: auto;
    margin-top: 30px;
    border-color: black;
  }
}

@media only screen and (min-width: 375px) {
  .main-nav {
    margin: 0;
    text-align: center;
    padding: 0;
    }

  body {
    background: white;
  }
  .name {
    height: 130px;
    margin: 0;
    padding: 20px 20px 20px 26px;
    display: block;
  }
  .tagline {
    margin: 0;
    text-align: center;
  }
  .quips {
    margin: 0px 60px 0px 0px;
    font-size: 36px;
    color: black;
    padding: 20px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 20px 15px 0px;
    text-align: left;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag{
    margin: auto;
    padding: 10px 40px 50px 40px;
    text-align: left;
    font-size: 13px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardtext {
    /* background-image: linear-gradient(to right, grey .3%, white 15%); */
  }

  .vpat {
    /* display: block; */
    margin: auto;
    height: 300px;
    padding: 0;
  }

  .mac {
    display: none;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 30px;
    color: black;
    padding: 60px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
  }

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 20px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 500;
  }

  main.home {
    border-radius: 25px;
    border-top: 4px solid orange;
    border-color: orange;
    height: 200px;
    background-color: white;
    margin: 0px 40px 20px 40px;
    box-shadow: 0px 0px 5px black;
  }

  h1.projects {
    margin: 0;
    padding: 20px 0px 30px 40px;
    text-align: left;
    font-size: 23px;
    line-height: 1.1rem;
  }

  section.contact {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    border-top: 4px solid orange;
  }

  h1.ready {
    margin: 0;
    font-size: 25px;
    color: white;
    padding: 30px 20px 10px 40px;
    text-align: left;
  }

  p.info {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 0px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 300;
    color: white;
  }

  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .link {
    color: white;
    padding: 15px 35px 15px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .card_image {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    object-fit: fill;
    border-radius: 20px;
  }

  .card_text {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
  }

  footer {
    height: 75px;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
    background-image: linear-gradient(white 10%,grey 100%);
  }

  hr.break {
    margin: auto;
    margin-top: 30px;
    border-color: black;
  }
}

@media only screen and (min-width: 425px) {
  .main-nav {
    margin: 0;
    text-align: center;
    padding: 0;
    }

  body {
    background: white;
  }
  .name {
    height: 130px;
    margin: 0;
    padding: 20px 20px 20px 26px;
    display: block;
  }
  .tagline {
    margin: 0;
    text-align: center;
  }
  .quips {
    margin: 0px 60px 0px 0px;
    font-size: 36px;
    color: black;
    padding: 20px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 20px 15px 0px;
    text-align: left;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag{
    margin: auto;
    padding: 10px 40px 50px 40px;
    text-align: left;
    font-size: 13px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardtext {
    /* background-image: linear-gradient(to right, grey .3%, white 15%); */
  }

  .vpat {
    /* display: block; */
    margin: auto;
    height: 300px;
    padding: 0;
  }

  .mac {
    display: none;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 30px;
    color: black;
    padding: 60px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
  }

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 20px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 500;
  }

  main.home {
    border-radius: 25px;
    border-top: 4px solid orange;
    border-color: orange;
    height: 200px;
    background-color: white;
    margin: 0px 60px 20px 60px;
    box-shadow: 0px 0px 5px black;
  }

  h1.projects {
    margin: 0;
    padding: 20px 0px 30px 40px;
    text-align: left;
    font-size: 23px;
    line-height: 1.1rem;
  }

  section.contact {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    border-top: 4px solid orange;
  }

  h1.ready {
    margin: 0;
    font-size: 25px;
    color: white;
    padding: 30px 20px 10px 40px;
    text-align: left;
  }

  p.info {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 0px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 300;
    color: white;
  }

  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .link {
    color: white;
    padding: 15px 55px 15px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .card_image {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    object-fit: fill;
    border-radius: 20px;
  }

  .card_text {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }

  footer {
    height: 75px;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
    background-image: linear-gradient(white 10%,grey 100%);
  }

  hr.break {
    margin: auto;
    margin-top: 30px;
    border-color: black;
  }

  .cogsize {
    width: 60px;
    height: 60px;
  }

  .cog {
    position: absolute;
    right: 60px;
    top: 25px;
  }
  .cog:hover {
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
  }

  .cog_caption {
    position: absolute;
    right: 28px;
    top: 80px;
    color: white;
  }

  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
}

@media only screen and (min-width: 768px) {
  .main-nav {
    margin: auto;
    text-align: center;
    padding: 0;
    }

  body {
    background: white;
  }
  .name {
    height: 150px;
    margin: 0;
    padding: 20px 20px 20px 26px;
    display: block;
  }
  .tagline {
    margin: 0;
  }
  .quips {
    margin: 0px 40px 0px 0px;
    font-size: 45px;
    color: black;
    padding: 20px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 30px 15px 0px;
    text-align: left;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag{
    margin: auto;
    padding: 10px 40px 50px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardtext {
    /* background-image: linear-gradient(to right, grey .3%, white 15%); */
  }

  .vpat {
    display: inline;
    margin: 0px 0px 40px 40px;
    height: 330px;
    padding: 0;
  }

  .mac {
    display: none;
    margin: 0px 40px 100px 40px;
    height: 200px;
    padding: 0;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 40px;
    color: black;
    padding: 40px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
  }

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 20px 40px;
    text-align: left;
    font-size: 20px;
    line-height: 1.2rem;
    font-weight: 500;
  }

  main.home {
    border-radius: 25px;
    border-top: 4px solid orange;
    border-color: orange;
    height: 200px;
    background-color: white;
    margin: 0px 120px 40px 120px;
    box-shadow: 0px 0px 5px black;
    transition: .2s ease-in-out;
  }

  .home:hover {
    box-shadow: 0px 0px 15px black;
  }

  h1.projects {
    margin: 0;
    padding: 20px 0px 60px 40px;
    text-align: left;
    font-size: 28px;
    line-height: 1.1rem;
  }

  section.contact {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    border-top: 4px solid orange;
  }

  h1.ready {
    margin: 0;
    font-size: 30px;
    color: white;
    padding: 30px 20px 10px 40px;
    text-align: left;
  }

  p.info {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 0px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 300;
    color: white;
  }

  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .link {
    color: white;
    padding: 15px 46px 15px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .card_image {
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    height: auto;
    object-fit: fill;
    border-radius: 20px;
  }

  .card_text {
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
  }

  footer {
    height: 75px;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
    background-image: linear-gradient(white 10%,grey 100%);
  }

  .cogsize {
    width: 80px;
    height: 80px;
  }

  .cog {
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .cog:hover {
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
  }

  .cog_caption {
    position: absolute;
    right: 35px;
    top: 100px;
    color: white;
  }

  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }

}

@media only screen and (min-width: 840px) {
  .mac {
    display: inline;
  }
}

@media only screen and (min-width: 1024px) {
  .main-nav {
    margin: auto;
    text-align: center;
    padding: 0;
    }

  body {
    background: white;
  }
  .name {
    height: 150px;
    margin: 0;
    padding: 20px 20px 20px 26px;
    display: block;
  }
  .tagline {
    margin: 0;
  }
  .quips {
    margin: 0px 40px 0px 0px;
    font-size: 48px;
    color: black;
    padding: 30px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 30px 15px 0px;
    text-align: left;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag{
    margin: auto;
    padding: 10px 40px 40px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardtext {
    /* background-image: linear-gradient(to right, grey .3%, white 15%); */
  }

  .vpat {
    display: inline;
    margin: 0px 0px 40px 40px;
    height: 330px;
    padding: 0;
  }

  .mac {
    display: inline;
    margin: 0px 40px 85px 100px;
    height: 230px;
    padding: 0;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 45px;
    color: black;
    padding: 40px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
  }

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 20px 40px;
    text-align: left;
    font-size: 25px;
    line-height: 2rem;
    font-weight: 500;
  }

  main.home {
    border-radius: 25px;
    border-top: 4px solid orange;
    border-color: orange;
    height: 200px;
    background-color: white;
    margin: 0px 180px 40px 180px;
    box-shadow: 0px 0px 5px black;
    transition: .2s ease-in-out;
  }

  .home:hover {
    box-shadow: 0px 0px 15px black;
  }

  h1.projects {
    margin: 0;
    padding: 20px 0px 60px 40px;
    text-align: left;
    font-size: 28px;
    line-height: 1.1rem;
  }

  section.contact {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    border-top: 4px solid orange;
  }

  h1.ready {
    margin: 0;
    font-size: 30px;
    color: white;
    padding: 30px 20px 10px 40px;
    text-align: left;
  }

  p.info {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 0px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 300;
    color: white;
  }

  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .link {
    color: white;
    padding: 15px 46px 15px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .card_image {
    margin-top: 60px;
    margin-left: 20px;
    width: auto;
    height: auto;
    object-fit: fill;
    border-radius: 20px;
    float: left;
  }

  .card_text {
    font-size: 30px;
    font-weight: 700;
    margin-top: 75px;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
  }

  footer {
    height: 75px;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
    background-image: linear-gradient(white 10%,grey 100%);
  }

  .cogsize {
    width: 80px;
    height: 80px;
  }

  .cog {
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .cog:hover {
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
  }

  .cog_caption {
    position: absolute;
    right: 35px;
    top: 100px;
    color: white;
  }
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }

}

@media only screen and (min-width: 1440px) {
  .main-nav {
    margin: auto;
    text-align: center;
    padding: 0;
    }

  body {
    background: white;
  }
  .name {
    height: 180px;
    margin: 0;
    padding: 20px 20px 20px 26px;
    display: block;
  }
  .tagline {
    margin: 0;
  }
  .quips {
    margin: 0px 40px 0px 0px;
    font-size: 48px;
    color: black;
    padding: 30px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 30px 15px 0px;
    text-align: left;
    font-size: 20px;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag{
    margin: auto;
    padding: 10px 40px 40px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardgrid {
   display: grid;
   grid-template-columns: auto auto auto;
   padding: auto;
  }

  .vpat {
    display: inline;
    margin: 0px 0px 40px 40px;
    height: 330px;
    padding: 0;
  }

  .mac {
    display: inline;
    margin: 0px 40px 70px 200px;
    height: 260px;
    padding: 0;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 45px;
    color: black;
    padding: 40px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
  }

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 20px 40px;
    text-align: left;
    font-size: 25px;
    line-height: 2rem;
    font-weight: 500;
  }

  main.home {
    border-radius: 25px;
    border-top: 4px solid orange;
    border-color: orange;
    height: 200px;
    background-color: white;
    margin: 0px 40px 40px 40px;
    box-shadow: 0px 0px 5px black;
    transition: .2s ease-in-out;
  }

  .home:hover {
    box-shadow: 0px 0px 15px black;
  }

  h1.projects {
    margin: 0;
    padding: 20px 0px 60px 40px;
    text-align: left;
    font-size: 28px;
    line-height: 1.1rem;
  }

  section.contact {
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    margin-bottom: 0px;
    border-top: 4px solid orange;
  }

  h1.ready {
    margin: 0;
    font-size: 30px;
    color: white;
    padding: 30px 20px 10px 40px;
    text-align: left;
  }

  p.info {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 0px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 300;
    color: white;
  }

  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 20px 20px;
    margin: 0;
  }

  .link {
    color: white;
    padding: 15px 46px 15px 0px;
    font-size: 16px;
    font-weight: 300;
  }

  footer {
    height: 75px;
    width: 100%;
    background-color: orange;
    margin-bottom: 0px;
    background-image: linear-gradient(white 10%,grey 100%);
  }

  .cogsize {
    width: 100px;
    height: 100px;
  }

  .cog {
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .cog:hover {
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
  }

  .cog_caption {
    position: absolute;
    right: 45px;
    top: 120px;
    color: white;
  }
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
}
