* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background: white;
}

.name {
  font-size: 40px;
  margin: 0;
  padding: 40px 20px 40px 40px;
  text-align: left;
  color: white;
}

.main-nav {
  margin: 0;
  background: black;
  width: 100%;
  list-style-type: none;
}


.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 20px;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: color .15s ease-in-out;
}

a:hover {
  color: rgb(40, 203, 255);
}

li {
  color: white;
  padding: 0px 40px 0px 0px;
  display: block;
  font-size: 18px;
}

hr {
  text-align: center;
  box-shadow: 0 0 30px 1px white;
  margin: 0;
}

h1 {
  font-size: 40px;
}

.tagline {
  padding: 0;
}

.quip {
  margin: 0;
  font-size: 70px;
  color: black;
  padding: 40px 20px 40px 40px;
  text-align: left;
}

.caption {
  font-size: 2px;
  display: realtive;
}

button {
  border: 10px solid black;
  border-radius: 25px;
  color: black;
  background-color: white;
  margin: 20px 20px 20px 40px;
  padding: 14px;
  float: left;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-size: 40px
}

button:hover {
  background-color: black;
  color: white;
  text-shadow: 0px 0px 30px white;
}

@media only screen and (max-width: 375px) {
  .main-nav {
    width: 375px;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  body {
    background: white;
  }
  .name {
    font-size: 30px;
    padding: 20px 20px 20px 40px;
  }
  .tagline {
    margin: 0;
    text-align: center;
  }
  .quips {
    margin: 0px 60px 0px 0px;
    font-size: 36px;
    color: black;
    padding: 20px 20px 0px 40px;
    text-align: left;
    font-weight: 600;
  }
  li {
    color: white;
    padding: 15px 20px 15px 0px;
    text-align: left;
  }
  ul.nav {
    /* display: inline; */
    margin: 0;
    padding: 0px 0px 0px 40px;
    justify-content: left;
  }

  button {
    display: none;
  }

  .subtag > p {
    margin: 0;
    padding: 10px 0px 50px 40px;
    text-align: left;
    font-size: 3px;
    line-height: 1.1rem;
    font-style: oblique;
  }

  .cardtext {
    /* background-image: linear-gradient(to right, grey .3%, white 15%); */
  }

  .vpat {
    display: block;
    margin: auto;
    height: 250px;
    padding: 0;
  }

  .prepare {
    margin: 0px 60px 0px 0px;
    font-size: 30px;
    color: black;
    padding: 60px 20px 0px 40px;
    text-align: left;
    font-weight: 500;
}

  .subtext {
    margin: 0px 70px 0px 0px;
    padding: 10px 0px 50px 40px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2rem;
    font-weight: 500;
  }
